@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
/* @import url(./Normalize.css); */

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* reset.css가 아닌 Normalize.css로 파일 변경 
    모든 브라우저간의 View를 통일 시켜줍니다. */

/* 일반 텍스트 영역 1rem
소메뉴타이틀(링크O) 1.3rem
단순타이틀(링크x) 2rem */

/* 버튼/인풋박스 height:40px
기본 버튼 : 90px
블록버튼&inputbox width: */

/* 버튼의 경우 색을 조금 손봤는데
    디폴트 값이 회색인 경우, 대체로 비활성화 된
    인식을 주기 때문에 저희 사이트의 아이덴티티
    색상을 사용해보았습니다. */

/* moblie 화면으로 볼 때 contents-wrap 부분에 
발작이 일어났었으나, 이는 곧 진압되었습니다. */

/* 요소 검사를 하실 때 body가 왜 중앙에 있는지,
    해당 현상은 버그입니다 놀라지 마시길 바랍니다. 
    잡는법은 저도 모름 */

/* 작업 하실 때, 모든 작업물은
contents-wrap 요소 안쪽에 넣어주시면 됩니다. */

/* 전달드리는 요소들은 모든 요소들이 
    확정 및 정리된 것이 아닙니다.
    필요하시다면 추가로 공유해주세요. */


/* 기본 공통 요소 */
body {
    margin: 0 auto;
    width: 576px;
    height: 100vh;
    background: #ffeedd;
    font-family: "GmarketSansMedium", "";
}

div,
input {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.side-anchor {
    text-decoration: none;
    color: #2D1E16;
    background: #FF9933;
    border: 2px solid #2D1E16;
    padding: 15px 10px 10px;
    border-radius: 20px;
}


.btn-style {
    margin-right: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    font-size: 17px;
    border-radius: 7px;
    border: 1px solid white;
}

.btn-style:hover {
    background: rgba(72, 72, 72, 0.7);
    transition: 0.2s ease, color 0.1s ease;
}



/* 유저가 사용하는 영역입니다. */
.view {
    background: #fff;
}

/* 숨겨진 어플깔아무새. 
width가 1200미만일 땐, 숨겨져 있습니다. */
.nav-side {
    display: none;
}



/* 탭 요소의 크기 및 배치 */
.tab {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 576px;
    height: 50px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    padding: 0px;
}

/* 탭 */
.tab-title {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 550px;
    margin: auto;
    cursor: pointer;
}

/* 탭 선택시 효과 (JS제어) */
.tab-selected {
    border-bottom: 2px solid #FF9933;
}

/* 소제목 타이틀 */
.title {
    display: flex;
    background-color: #FFFFFF;
    border-bottom: 1px solid #2D1E16;
    margin-bottom: 10px;
}

/* 소제목 span 요소 폰트  */
.title span {
    font-size: 2rem;
    padding: 10px;
}

/* 컨텐츠 표시 영역 */
.contents-wrap {
    width: 576px;
    min-height: 100vh;
    padding-top: 88px;
    padding-bottom: 98px;
    overflow: hidden;
}

/* input {
    width: 90%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
}

input:focus {
    border-color: #FF9933;
    outline: none;
} */

/* flex 영역 감싸기 */
.flex-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1;
    justify-content: center;
}


.nav-side h1 {
    font-size: 2.5rem;
}

.nav-side p {
    font-size: 1.5rem;
}

.btn-style {
    display: inline-block;
}

/* 소개페이지 버튼 */
.side-anchor {
    padding-top: 20px;
    text-decoration: none;
    color: #2D1E16;
    background: #ff9933;
    padding: 15px 10px 10px;
    border-radius: 20px;
    border: 2px solid #2D1E16;
    transition: all 0.2s;
}

/* 소개페이지 버튼 빛 효과 이동 */
.light:hover::after {
    transform: translateX(50px);
    transition: all 0.5s;
}

/* 소개페이지 버튼 빛 효과 */
.light {
    position: relative;
    overflow: hidden;
    display: inline-block;
    z-index: 1;
}

/* 소개페이지 버튼 빛 효과 */
.light::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-75deg, transparent 63%, rgba(255, 255, 255, 0.5) 63%, rgba(255, 255, 255, 0.5) 71%, transparent 72%),
        linear-gradient(-75deg, transparent 53%, rgba(255, 255, 255, 0.5) 61%, rgba(255, 255, 255, 0.5) 61%, transparent 51%);
    z-index: 2;
    transition: all 0.5s;
}


/* ------------------------------------- */

.find-idpw {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

.find-idpw2 {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    display: none;
}

.find-idpw-item p {
    margin: 3px 0 0;
}

.find-idpw h1 {
    margin: 50px 0px 30px;
}

.find-idpw-form {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.find-idpw input,
.form-btn {
    width: 100%;
}

.find-idpw-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.find-idpw-item {
    display: flex;
    width: 90%;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
    border: 1px solid #2D1E16;
    border-radius: 5px;
}

.find-idpw button {
    background-color: #ff9933;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    margin: 10px 0;
}

.find-idpw button:hover {
    background: #2D1E16;
    transition: all 0.3s;
}

.find-idpw input {
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #000;
}

.find-idpw input:focus {
    background: #ffeedd;
    border-color: #ff9933;
    outline: none;
}

.find-idpw-item-wrap {
    width: 80%;
    margin: 40px 0;
    display: none;
}

.f-id-verification {
    border-radius: 5px;
    margin-left: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eeecec;
    transition: all 0.5s;
    cursor: not-allowed;
}

.f-id-verification p {
    margin: 3px 0 0;
}

.flex-dir-col {
    flex-direction: column;
    width: 80%;
}

.active {
    display: block
}

.buttoned {
    cursor: pointer;
}

.f-id-tel.active {
    background-color: gray;
}



/* ------------------------------------- */


/* width가 1200px 이상일 때 적용되는 요소 
   미디어쿼리는 항상 css 최하단에 위치시켜주세요!! */
@media screen and (min-width : 1200px) {

    /* 컨텐츠 우측으로 밀기 */
    body {
        margin: 0;
        position: relative;
        left: 50%;
    }

    /* 좌측에 앱 다운로드 유도창 띄우기 */
    .nav-side {
        width: 375px;
        font-family: "GmarketSansMedium";
        position: fixed;
        top: 30%;
        left: 15%;
        display: flex;
        flex-direction: column;
    }
}

/* 모바일 화면에서 nav-side를 숨김
화면이 1200px 이상일 때 적용되는 요소*/
@media screen and (max-width: 576px) {
    .nav-side {
        display: none;
    }
}